interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://digital.iservices.rte-france.com/token/oauth/
  response:
    body:
      string: "{\n  \"access_token\" : \"SOxJ3vfP2YJwJwXiMldjb1W6psRvji5IfUc8X0ul9rCZlDM6cIiScL\",\n
        \ \"token_type\" : \"Bearer\",\n  \"expires_in\" : 3600\n}"
    headers:
      Content-Type:
      - application/json
      Max-Forwards:
      - '20'
      X-CorrelationID:
      - Id-542c12695493aba90e544f8a 0; Id-542c1269b86ad489e8b3ed82 0
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://digital.iservices.rte-france.com/open_api/consumption/v1/short_term?type=REALISED&start_date=2020-01-01T00%3A00%3A00%2B01%3A00&end_date=2020-01-02T00%3A00%3A00%2B01%3A00
  response:
    body:
      string: '{"short_term":[{"type":"REALISED","start_date":"2020-01-01T00:00:00+01:00","end_date":"2020-01-02T00:00:00+01:00","values":[{"start_date":"2020-01-01T00:00:00+01:00","end_date":"2020-01-01T00:15:00+01:00","updated_date":"2020-01-01T23:51:08+01:00","value":65827},{"start_date":"2020-01-01T00:15:00+01:00","end_date":"2020-01-01T00:30:00+01:00","updated_date":"2020-01-01T23:51:08+01:00","value":65887},{"start_date":"2020-01-01T00:30:00+01:00","end_date":"2020-01-01T00:45:00+01:00","updated_date":"2020-01-01T23:51:08+01:00","value":64773},{"start_date":"2020-01-01T00:45:00+01:00","end_date":"2020-01-01T01:00:00+01:00","updated_date":"2020-01-01T23:51:08+01:00","value":63464},{"start_date":"2020-01-01T01:00:00+01:00","end_date":"2020-01-01T01:15:00+01[...]
